body
{
    background: linear-gradient(319deg, #000933, #0085D0);
    margin: 0px;
}
table{
    border-collapse: collapse;
    min-width: 90%;
    background: #f8f8f8;
    text-align: center;

}
.menu{


    position: sticky;
    top:0;
    height: 50px;
    border-bottom:1px solid;
    z-index: 1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}


.info{
    border: 1px solid #000000 ;
    border-width:1 0 1 0;
    width: 100%;
    background: #A9A9A9;
}
p{
    font: 30pt Roboto-Thin;
    padding: 0;
    margin:0;
}
.line{
    border: 1px solid #000000;
    border-width:0 0 1 0;
}
.main{
    width: 90%;
   
}
.nav{
    height: 10px;
 }
.size{
    width:33%;
}
.size img{
    max-width: 100%;
}
.text{
    font: 19pt sans-serif;
}
.sity,a{
    width: 100%;
    text-align:left;
    text-decoration: none;
    color:#000;
}
.sity tr:nth-child(1) td:nth-child(1),ul{
    width: 200px;
    text-align: left;
    vertical-align: top;
    margin-top: 5;
    padding-left:10;
}
.sity td >p{
    font: 15pt Georgia;
}

li{
    list-style-position: inside;
    list-style-image: url(../images/location.png);

}



.info2{
    border: 1px solid #000000 ;
    border-width:1 0 1 0;
    width: 100%;
    background: #A9A9A9;
        text-align: center;
}

